<%= provide(:title, 'Books') %>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Books You Read</h1>
    <p>Create your own bookshelf. Track and review books you read or you want to read.</p>
    <p><%= link_to "Sign Up To Create Your Bookshelf", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag book.cover.url(:medium), class: 'image'), book %>
      </div>
    </div>
  <% end %>
</div>